.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #fffefb;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.navigation-bar {
  position: absolute;
  inset: 0;
}
.vector {
  width: 100%;
  height: 7%;
  position: absolute;
  overflow: visible;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;

}
.logo {
  width: 10%;
  height: 100%;
  position: static;
  display: flex;
  padding-left:20px;
  align-items: center;
  justify-content: center;
}
.lg_logo {
  height: 100%;
  object-fit:contain;
  align-items:center;
}
.lg_text {
  color: #545454;
  text-align: left;
  font-family: "LgEiHeadlineTtf-Bold", sans-serif;
  font-size: 35px;
  font-weight: 600;
  align-items: center;
}
.menus {
  width:65%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left:30px;
  padding-right:30px;
  align-items: center;
  font-weight: 600;
}
.menu {
  font-size: medium;
}
.buttons {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:70px;
  padding-right:20px;
  align-items: center;
  font-weight: 600;
}
.button {
  font-size: medium;
  border: 1px solid #000; /* 테두리 색상과 두께 */
  padding: 5px 10px; /* 버튼 내부 여백 */
  border-radius: 10px; /* 모서리 둥글게 */

}
.contact-us {
  color: #545454;
  text-align: center;
  font-family: "LgEiHeadlineVf-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  right: 6.2%;
  left: 85.37%;
  width: 8.42%;
  bottom: 96.73%;
  top: 1.57%;
  height: 1.7%;
}

.lan {
  font-size: medium;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
 -webkit-font-smoothing: antialiased;
}




/* 클릭 가능한 큰 원 버튼들 */
.clickable-button {
  background-color: #f0ece4;
  border: none;
  position: absolute;
  width: 150px; /* 고정 크기 */
  height: 150px; /* 고정 크기 */
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.clickable-button:hover:not(.clicked) {
  background-color: #f64e4b;
}

.clicked {
  background-color: #f64e4b;
}

.clickable-image {
  width: 60%;
  height: auto;
  cursor: pointer;
  padding-left: 20%;
}

/* 큰 원의 텍스트 설정 */
.button-text {
  font-family: "LgEiTextTtf-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  width: 150px; /* 원과 동일한 너비 */
  text-align: center;
  transform: translateY(-120%);
}

/* 큰 원의 위치 설정 */
#ellipseButton1 {
  left: 15%;
  top: 22%
}

#text1 {
  left: 15%;
  top: 22%
}

#ellipseButton2 {
  left: 35%;
  top: 22%
}

#text2 {
  left: 35%;
  top: 22%
}

#ellipseButton3 {
  left: 55%;
  top: 22%
}

#text3 {
  left: 55%;
  top: 22%
}

#ellipseButton4 {
  left: 75%;
  top: 22%
}

#text4 {
  left: 75%;
  top: 22%
}

/* 작은 원들의 위치 및 크기 조정 */
.ellipse-10, .ellipse-14, .ellipse-12, .ellipse-11, .ellipse-15, .ellipse-13 {
  background-color: #f0ece4;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* 고정된 그림자 크기 */
}

/* 작은 원의 크기 */
.ellipse-10, .ellipse-14, .ellipse-12, .ellipse-11, .ellipse-15, .ellipse-13 {
  width: 27px; /* 고정 크기 */
  height: 27px; /* 고정 크기 */
}

/* 각 작은 원의 위치 */
.ellipse-10 {
  left: 27.5%;
  top: 30%;
}

.ellipse-14 {
  left: 30.5%;
  top: 30%;
}

.ellipse-12 {
  left: 47.5%;
  top: 30%;
}

.ellipse-11 {
  left: 50.5%;
  top: 30%;
}

.ellipse-15 {
  left: 67.5%;
  top: 30%;
}

.ellipse-13 {
  left: 70.5%;
  top: 30%;
}

/* 선과 박스 설정 */
.line-2 {
  margin-top: -3px;
  border-style: solid;
  border-color: #757575;
  border-width: 3px 0 0 0;
  width: 80%;
  height: 0px;
  position: absolute;
  left: 10%;
  top: 47%;
  transform-origin: 0 0;
  transform: rotate(0.029deg) scale(1, 1);
}

.rectangle{
  background: #f4f4f4;
  border-radius: 30px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  width: 80%;
  /* height: 40%;
  position: absolute;
  left: 10%;
  top: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  height: 40%; /* auto로 높이를 자동으로 설정 */
  position: absolute;
  left: 10%;
  top: 50%;
  padding: 20px; /* 내부 여백 추가 */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex; /* Flexbox를 사용하여 자식 요소를 세로로 정렬 */
  flex-direction: column;
  align-items: flex-start; /* 텍스트를 왼쪽 정렬 */
  gap: 20px; /* 각 요소 간격 */
}

/* 완료 확인 아이콘 */
.free-icon-confirm-467129-1 {
  width: 6%;
  /* height: 10%; */
  position: absolute;
  left: 47.5%;
  top: 52%;
}

/* 완료 확인 텍스트 */
.your-reservation-has-been-confirmed {
  color: #000000;
  text-align: left;
  font-family: "LgEiTextTtf-Bold", sans-serif;
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  left: 20%;
  top: 70%;
}
.process {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2em; /* 원하는 스타일 추가 */
  font-size: 40px;
  font-weight: 500;
}
.diagnostic-progress {
  color: #a50034;
  text-align: left;
  font-family: "LgEiTextTtf-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 5%;
  top: 10%;
}

/* 완료 확인 아이콘 */
.appointment-icon-1 {
  width: 2.5%;
  position: absolute;
  left: 5%;
  top: 25%;
}
.appointment-icon-2 {
  width: 2.5%;
  position: absolute;
  left: 5%;
  top: 42.5%;
}
.appointment-icon-3 {
  width: 2.5%;
  position: absolute;
  left: 5%;
  top: 60%;
}
.appointment-icon-4 {
  width: 2.5%;
  position: absolute;
  left: 5%;
  top: 77.5%;
}
.complete-time-1 {
  color: #000000;
  text-align: left;
  font-family: "LgEiTextTtf-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 10%;
  top: 27%;
}
.complete-time-2 {
  color: #000000;
  text-align: left;
  font-family: "LgEiTextTtf-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 10%;
  top: 44.5%;
}
.complete-time-3 {
  color: #000000;
  text-align: left;
  font-family: "LgEiTextTtf-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 10%;
  top: 62.5%;
}
.complete-time-4 {
  color: #000000;
  text-align: left;
  font-family: "LgEiTextTtf-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 10%;
  top: 80%;
}
.line-6 {
  border-style: solid;
  border-color: #000000;
  border-width: 2px 0 0 0;
  width: 22%;
  position: absolute;
  left: 30%;
  top: 10%;
  bottom: 10%;
  transform-origin: 0 0;
  transform: rotate(90.126deg) scale(1, 1);
}
.diagnose-content-1 {
  color: #000000;
  font-family: "LgEiTextTtf-Regular", sans-serif;
  font-size: 17px;
  left: 35%;
  position: absolute;
  top: 25%;
}
.diagnose-content-2 {
  color: #000000;
  font-family: "LgEiTextTtf-Regular", sans-serif;
  font-size: 17px;
  left: 35%;
  position: absolute;
  top: 42.5%;
}
.diagnose-content-3 {
  color: #000000;
  font-family: "LgEiTextTtf-Regular", sans-serif;
  font-size: 17px;
  left: 35%;
  position: absolute;
  top: 60%;
}
.diagnose-content-4 {
  color: #000000;
  font-family: "LgEiTextTtf-Regular", sans-serif;
  font-size: 17px;
  left: 35%;
  position: absolute;
  top: 77.5%;
}
.real-diagnose-content{
  font-weight: 700;
}