<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/diagnosisStyle1.css">
  
  
  <title>Diagnosis1</title>
</head>
<body>
      <div class="vector">
        <div class="logo">
          <img
            class="lg_logo"
            src="img/diagnosis/lge-logo-en-heritage-red-grey-20.png"
          />
          <div class="lg_text">LG</div>
        </div>
        <div class="menus">
          <div class="menu">
            TV/Audio/Video
          </div>
          <div class="menu">
            Home Appliances
          </div>
          <div class="menu">
            Air Solutions
          </div>
          <div class="menu">
            Computing
          </div>
        </div>
        <div class="buttons">
          <select class="lan">
            <option class="text">English</option>
          </select>
          <div class="button">
            Contact Us
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <div class="TV-image">
            <img src="img/diagnosis/image-50.png" />
          </div>
          <div class="serial-number">S/N: 32LQ635BPSA</div>
          <div class="vertical-full-width" ></div>
        </div>
      <div class="diag">
        <div class="diag-menu">
          <div class="diag-menu-1">
            <div class="diag-detail-1">Breakage and physical damage</div>
            <div class="detail">Detail</div>
            <img class="vertical-full-width2" src="img/diagnosis/vertical-full-width1.svg" />
          </div>
          <div class="diag-menu-2" id="diag-menu-2">
            <div class="diag-detail-2">Degraded device performance</div>
            <div class="detail">Detail</div>
            <img class="vertical-full-width2" src="img/diagnosis/vertical-full-width2.svg" />
          </div>
          <div class="diag-menu-3">
            <div class="diag-detail-3">Pairing and connection</div>
            <div class="detail">Detail</div>
            <img class="vertical-full-width2" src="img/diagnosis/vertical-full-width3.svg" />
          </div>
          <div class="diag-menu-4">
            <div class="diag-detail-4">ETC</div>
            <div class="detail">Detail</div>
            <img class="vertical-full-width2" src="img/diagnosis/vertical-full-width4.svg" />
          </div>
        </div>
    
      
      </div>
      </div>
      
<script src="js/diagnosis1.js"></script>
</body>
</html>