<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/hello.css">
    <style>

    </style>
    <title>Hello</title>

</head>
<body>
<div class="Hello">

    <div class="NavigationBar">
        <div class="Group238441">
            <img class="LgeLogoEnHeritageRedGrey2" src="img/login/lge_logo_en_heritage_red_grey 2.png" />
            <div class="LgCustomerService">LG Customer Service</div>
        </div>
    </div>

    <img class="LgeSloganHorizontalMonoActiveRed1" src="img/login/lge_slogan_horizontal_mono_active_red 1.png" />

    <div class="GreetIndia">
        <img class="Rectangle3088" src="img/login/image 9.png" />
        <div class="HelloIndia">Hello India</div>
        <div class="NamasteBharat">नमस्ते, भारत</div>
    </div>

    <div class="Lang">
        <div class="Language">Language</div>
        <div class="LanguageHindi">भाषा</div>
    </div>


<!--언어 선택 버튼-->
    <div class="SegmentedButton">
        <div class="SegmentStart">
            <div class="Container" id="englishButton">
                <div class="StateLayer">
                    <div class="language-toggle">
                        <div class="language-option english selected">
                            <span class="checkmark">✔</span>
                            <span class="LabelText">English</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="SegmentEnd">
            <div class="Container" id="hindiButton">
                <div class="StateLayer">
                    <div class="language-toggle">
                        <div class="language-option hindi">
                            <span class="LabelText">हिंदी</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/hello.js"></script>
</body>
</html>