<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/installationASvars.css">
    <link rel="stylesheet" href="css/installationASStyle.css">


    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            background: none;

            -webkit-font-smoothing: antialiased;
        }

        menu, ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }


    </style>
    <title>Installation_AS</title>
</head>
<body>
<div class="div">
    <div class="vector">
        <div class="logo">
            <img
                    class="lg_logo"
                    src="img/login/lge_logo_en_heritage_red_grey%202.png"
            />
            <div class="lg_text">LG</div>
        </div>
        <div class="menus">
            <div class="menu">
                TV/Audio/Video
            </div>
            <div class="menu">
                Home Appliances
            </div>
            <div class="menu">
                Air Solutions
            </div>
            <div class="menu">
                Computing
            </div>
        </div>
        <div class="buttons">
            <select class="lan">
                <option class="text">English</option>
            </select>
            <div class="button">
                Contact Us
            </div>
        </div>
    </div>
</div>
<div class="lIG"><img class="lifeIsGood" src="img/login/lge_slogan_horizontal_mono_active_red 1.png"></div>

<div class="button-install">
    <button class="installation" id="installation">Installation</button>
</div>
<div class="button-as">
    <button class="AS" id="AS">A/S</button>
</div>

<div class="button-myPage">
    <button class="myPageButton" id="myPageNextPage">My Page</button>
</div>
<script src="js/InstallationASMyPage.js"></script>
</body>
</html>