<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link rel="stylesheet" href="css/loginMe.css">
    <link rel="stylesheet" href="css/installationASStyle.css">
    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            background: none;

            -webkit-font-smoothing: antialiased;
        }

        menu, ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }


    </style>

</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div class="div">
        <div class="vector">
            <div class="logo">
                <img
                        class="lg_logo"
                        src="img/login/lge_logo_en_heritage_red_grey%202.png"
                />
                <div class="lg_text">LG</div>
            </div>
            <div class="menus">
                <div class="menu">
                    TV/Audio/Video
                </div>
                <div class="menu">
                    Home Appliances
                </div>
                <div class="menu">
                    Air Solutions
                </div>
                <div class="menu">
                    Computing
                </div>
            </div>
            <div class="buttons">
                <select class="lan">
                    <option class="text">English</option>
                </select>
                <div class="button">
                    Contact Us
                </div>
            </div>
        </div>
    </div>
    <img class="layoutImg" src="img/login/LG_Electronics_Gradient_01_RGB 3.png">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Log in</h3></div>
                            <pre>
                                
                            </pre>
                            <div class="card-body">
                                <form action="/login-process" method="post">
                                    <div class="form-floating mb-3">
                                        <label for="inputUserId">ID</label>
                                        <input class="form-control" id="inputUserId" name="userId" type="userId" placeholder="user000" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <label for="inputPassword">PW</label>
                                        <input class="form-control" id="inputPassword" name="password" type="password" placeholder="pass000" />
                                        
                                    </div>
                                    <button class="card-footer text-center py-3">
                                        <div class="small"><a href="/register">Forget password?</a></div>
                                    </button>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0" id="logButton">
                                        <button class="btn btn-primary" type="submit">Log in</button>
                                        <p><span th:text="${error}"></span></p>
                                    </div>
                                    <div class="socialIcon">
                                        <button><img src="img/login/facebook_logo.png"></button>
                                        <button><img src="img/login/apple_logo.png"></button>
                                        <button><img src="img/login/google_logo.png"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
<!--<script src="user.js"></script>-->
</body>
</html>