<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/mydeviceStyle.css">

  <title>MY DEVICE</title>
</head>
<body>
  <div class="div">
    <div class="vector">
      <div class="logo">
        <img
          class="lg_logo"
          src="img/mydevice/lge-logo-en-heritage-red-grey-20.png"
        />
        <div class="lg_text">LG</div>
      </div>
      <div class="menus">
        <div class="menu">
          TV/Audio/Video
        </div>
        <div class="menu">
          Home Appliances
        </div>
        <div class="menu">
          Air Solutions
        </div>
        <div class="menu">
          Computing
        </div>
      </div>
      <div class="buttons">
        <select class="lan">
          <option class="text">English</option>
        </select>
        <div class="button">
          Contact Us
        </div>
      </div>
    </div>


    <div class="allcontent">
      <div class="title">
        <button class="arrow-left-circle-btn" id="arrow-button">
          <img class="arrow-left-circle" src="img/mydevice/arrow-left-circle0.svg" alt="Arrow Left Circle" />
        </button>
        <div class="my-device">MY DEVICE</div>
      </div>

      <div class="content">
        <!-- 첫 번째 아코디언 -->
        <div class="accordion-item">
          <div class="accordion-title">
            <div class="oled65g46la">
              <img class="oled65g46la-pic" src="img/mydevice/image-200.png">
                <div class="oled65g46la-content">
                  <div class="oled65g46la-text">OLED65G46LA</div>          
                  <div class="oled65g46la-detail">LG 65 (164 cm) LG OLED evo AI G4 4K Smart TV 2024</div>
                </div>
                <div class="down-toggle">
                <img class="chevron-down" src="img/mydevice/chevron-down0.svg">
                </div>
            </div>
          </div>
        </div>
          <!--다운 토글 활성화시 제품 세부정보-->
              <div class="product">
                <div class="divide-1">
                  <div class="product-status">
                    <div class="p-detail">Serial Number</div>
                    <div class="p-detail">Status</div>
                    <div class="p-detail">Warranty Period</div>
                  </div>
                  <div class="line"></div>
                  <div class="product-detail">
                    <div class="p-detail-stat">802RMJA298456</div>
                    <div class="p-detail-stat", id="special">
                      <span id="nextpage">Under Repair</span></div>
                    <div class="p-detail-stat">2022.01.15 - 2024.01.15</div>
                  </div>
                </div>
                <div class="divide-2">
                  <div class="product-status">
                    <div class="p-detail">Purchase Date</div>
                    <div class="p-detail">SW Version</div>
                    <div class="p-detail">Repair History</div>
                  </div>
                  <div class="line"></div>
                  <div class="product-detail">
                    <div class="p-detail-stat">2022.01.15</div>
                    <div class="p-detail-stat">5.1.2</div>
                    <div class="p-detail-stat">2023.11.09 - Screen replacement</div>
                  </div>
                </div>
              </div>

        <!-- 두 번째 아코디언 -->
        <div class="accordion-item">
          <div class="accordion-title">
            <div class="KAOWK">
              <img class="KAOWK-pic" src="img/mydevice/image-210.png">
              <div class="KAOWK-content">
                <div class="KAOWK-text">16Z90SP-KAOWK</div>          
                <div class="KAOWK-detail">LG GRAM Pro 40.6cm Intel® Core™ Ultra 5</div>
              </div>
              <div class="down-toggle">
                <img class="chevron-down" src="img/mydevice/chevron-down0.svg">
              </div>
            </div>
          </div>
        </div> 

      </div>
    </div>
  </div>
  <script src="js/mydevice.js"></script>
</body>
</html>