<div class="_11-diagnosis-2-flow">
  <div class="s-n-32-lq-635-bpsa">S/N: 32LQ635BPSA</div>
  <img class="image-5" src="../static/img/diagnosis/image-50.png" />
  <img class="vector" src="../static/img/diagnosis/vector0.svg" />
  <div class="menus">
    <div class="menu">
      <div class="services">TV/Audio/Video</div>
    </div>
    <div class="menu-2">
      <div class="about-us">Home Appliances</div>
    </div>
    <div class="menu-3">
      <div class="articles">Air Solutions</div>
    </div>
    <div class="menu-4">
      <div class="healthcare-professionals">Computing</div>
    </div>
  </div>
  <div class="buttons">
    <div class="button">
      <img class="vector2" src="../static/img/diagnosis/vector1.svg" />
      <div class="contact-us">Contact Us</div>
    </div>
  </div>
  <div class="group-238441">
    <img
      class="lge-logo-en-heritage-red-grey-2"
      src="../static/img/diagnosis/lge-logo-en-heritage-red-grey-20.png"
    />
    <div class="lg">LG</div>
  </div>
  <div class="group-238442">
    <img
      class="lge-logo-en-heritage-red-grey-2"
      src="../static/img/diagnosis/lge-logo-en-heritage-red-grey-21.png"
    />
    <div class="lg">LG</div>
  </div>
  <div class="group-238443">
    <img
      class="lge-logo-en-heritage-red-grey-2"
      src="../static/img/diagnosis/lge-logo-en-heritage-red-grey-22.png"
    />
    <div class="lg">LG</div>
  </div>
  <div class="dropdown">
    <div class="text">English</div>
    <img class="clip-path-group" src="../static/img/diagnosis/clip-path-group0.svg" />
  </div>
  <img class="vertical-full-width" src="../static/img/diagnosis/vertical-full-width0.svg" />
  <div class="group-238459">
    <div class="breakage-and-physical-damage">Breakage and physical damage</div>
    <div class="detail">Detail</div>
    <img class="vertical-full-width2" src="../static/img/diagnosis/vertical-full-width1.svg" />
  </div>
  <div class="group-238458">
    <div class="breakage-and-physical-damage2">Degraded device performance</div>
    <div class="detail2">Detail</div>
    <img class="vertical-full-width3" src="../static/img/diagnosis/vertical-full-width2.svg" />
  </div>
  <div class="group-238460">
    <div class="breakage-and-physical-damage3">Pairing and connection</div>
    <div class="detail">Detail</div>
    <img class="vertical-full-width4" src="../static/img/diagnosis/vertical-full-width3.svg" />
  </div>
  <div class="group-238461">
    <div class="breakage-and-physical-damage4">ETC</div>
    <div class="detail">Detail</div>
    <img class="vertical-full-width5" src="../static/img/diagnosis/vertical-full-width4.svg" />
  </div>
  <div class="frame-1000005336">
    <div class="the-power-occasionally-goes-out">
      The power occasionally goes out
    </div>
  </div>
  <div class="frame-1000005337">
    <div class="the-power-occasionally-goes-out">
      The remote control response is slow
    </div>
  </div>
  <div class="frame-1000005338">
    <div class="the-power-occasionally-goes-out">ETC</div>
  </div>
</div>
