<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/processVarsStyle.css"> <!-- 변수 선언용 CSS -->
    <link rel="stylesheet" href="css/processStyle.css"> <!-- 주 스타일 CSS -->

    <title>Process Reservation</title>
</head>

<body>
<div class="a-s-process-reservation-check">
    <!-- 첫 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text1">Confirmation</div>
    <button class="clickable-button" id="ellipseButton1">
        <img src="img/process/free-icon-calendar-809500-10.png" alt="Calendar Icon" class="clickable-image">
    </button>

    <!-- 두 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text2">Diagnosis</div>
    <button class="clickable-button" id="ellipseButton2">
        <img src="img/process/free-icon-places-to-visit-4052266-10.png" alt="Places Icon" class="clickable-image">
    </button>

    <!-- 세 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text3">Repair</div>
    <button class="clickable-button" id="ellipseButton3">
        <img src="img/process/free-icon-mechanic-8123859-10.png" alt="Mechanic Icon" class="clickable-image">
    </button>

    <!-- 네 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text4">Complete</div>
    <button class="clickable-button" id="ellipseButton4">
        <img src="img/process/free-icon-done-5207911-10.png" alt="Done Icon" class="clickable-image">
    </button>

    <!-- 추가된 작은 원들 -->
    <div class="ellipse-10"></div>
    <div class="ellipse-14"></div>
    <div class="ellipse-12"></div>
    <div class="ellipse-11"></div>
    <div class="ellipse-15"></div>
    <div class="ellipse-13"></div>

    <!-- 나머지 기존 요소들 -->
    <div class="line-2"></div>
    <div class="rectangle-3096"></div>

    <!-- 완료된 예약 확인 -->
    <img class="free-icon-confirm-467129-1" src="img/process/free-icon-confirm-467129-10.png" />
    <div class="your-reservation-has-been-confirmed">Your reservation has been confirmed</div>
</div>
<!-- 외부 JS 파일을 불러오는 부분 -->
<script src="js/process.js"></script>
</body>
</html>