<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/processVarsStyle.css"> <!-- 변수 선언용 CSS -->
    <link rel="stylesheet" href="css/processStyle.css"> <!-- 주 스타일 CSS -->

    <title>Process Reservation</title>
</head>
<body>
<div class="div">
    <img class="background" src="img/process/_23-review-complete.png">
    <div class="vector">
        <div class="logo">
            <img
                    class="lg_logo"
                    src="img/process/lge-logo-en-heritage-red-grey-20.png"
            />
            <div class="lg_text">LG</div>
        </div>
        <div class="menus">
            <div class="menu">
                TV/Audio/Video
            </div>
            <div class="menu">
                Home Appliances
            </div>
            <div class="menu">
                Air Solutions
            </div>
            <div class="menu">
                Computing
            </div>
        </div>
        <div class="buttons">
            <select class="lan">
                <option class="text">English</option>
            </select>
            <div class="button">
                Contact Us
            </div>
        </div>
    </div>
</div>


<div class="process">Process</div>
<div class="a-s-process-reservation-check">
    <!-- 첫 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text1">Confirmation</div>
    <button class="clickable-button" id="ellipseButton1">
        <img src="img/process/free-icon-calendar-809500-10.png" alt="Calendar Icon" class="clickable-image">
    </button>

    <!-- 두 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text2">Diagnosis</div>
    <button class="clickable-button" id="ellipseButton2">
        <img src="img/process/free-icon-places-to-visit-4052266-10.png" alt="Places Icon" class="clickable-image">
    </button>

    <!-- 세 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text3">Repair</div>
    <button class="clickable-button" id="ellipseButton3">
        <img src="img/process/free-icon-mechanic-8123859-10.png" alt="Mechanic Icon" class="clickable-image">
    </button>

    <!-- 네 번째 클릭 가능한 원과 텍스트 -->
    <div class="button-text" id="text4">Complete</div>
    <button class="clickable-button" id="ellipseButton4">
        <img src="img/process/free-icon-done-5207911-10.png" alt="Done Icon" class="clickable-image">
    </button>

    <!-- 추가된 작은 원들 -->
    <div class="ellipse-10"></div>
    <div class="ellipse-14"></div>
    <div class="ellipse-12"></div>
    <div class="ellipse-11"></div>
    <div class="ellipse-15"></div>
    <div class="ellipse-13"></div>

    <!-- 나머지 기존 요소들 -->
    <div class="line-2"></div>
<!--    <div class="rectangle-3096"></div>-->
    <div class="rectangle">

        <div class="diagnostic-progress">Diagnostic Progress</div>
        <div class="complete-diagnose-1">
            <img class="appointment-icon-1" src="img/process/free-icon-appointment-7322293-10.png">
            <div class="complete-time-1"></div>

        </div>
        <div class="complete-diagnose-2">
            <img class="appointment-icon-2" src="img/process/free-icon-appointment-7322293-10.png">
            <div class="complete-time-2"></div>

        </div>
        <div class="complete-diagnose-3">
            <img class="appointment-icon-3" src="img/process/free-icon-appointment-7322293-10.png">
            <div class="complete-time-3"></div>

        </div>
        <div class="complete-diagnose-4">
            <img class="appointment-icon-4" src="img/process/free-icon-appointment-7322293-10.png">
            <div class="complete-time-4"></div>
        </div>

        <div class="line-6"></div>

        <div class="diagnose-content-1">
            Service technician visit.
        </div>
        <div class="diagnose-content-2">
            Diagnosis:<br>
            We've identified the issue with your device as <span class="real-diagnose-content"> HDMI Port Failure</span>.
        </div>
        <div class="diagnose-content-3">
            Parts have arrived at the service center.
        </div>
        <div class="diagnose-content-4">
            Service technician visit.
        </div>
    </div>

    <div class="rating">
        <img class="image" src="img/process/image0.png" />
        <div class="star-rating">
            <!-- 1번째 별 -->
            <img class="star" id="star1" data-value="1"/>
            <!-- 2번째 별 -->
            <img class="star" id="star2" data-value="2"/>
            <!-- 3번째 별 -->
            <img class="star" id="star3" data-value="3"/>
            <!-- 4번째 별 -->
            <img class="star" id="star4" data-value="4"/>
            <!-- 5번째 별 -->
            <img class="star" id="star5" data-value="5"/>
        </div>
        <div class="comment">
            &quot;How was technician Arjun?&quot;
        </div>
    </div>

    <!-- 완료된 예약 확인 -->
    <img class="free-icon-confirm-467129-1" src="img/process/free-icon-confirm-467129-10.png" />
    <div class="your-reservation-has-been-confirmed">Your reservation has been confirmed</div>
</div>

<!-- 모달창 구현 -->
<div class="modalAbove" id="modalAbove">
    <div class="modalWindow">
        <div class="modalHeader"></div> <!-- 상단바 추가 -->
        <div class="modalContent">
            <img class="modal-image" src="img/process/modal-image.png" alt="Comment Icon" />
            <div class="modal-review-more-text">Review More?</div>
            <div class="modalButtonContainer">
                <button class="modalYesButton" id="modalYesButton">Yes</button>
                <button class="modalNoButton" id="modalNoButton">No</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let date1=[[${date1}]]
    let date2=[[${date2}]]
    let date3=[[${date3}]]
    let date4=[[${date4}]]
    let date5=[[${date5}]]
    let date6=[[${date6}]]
    let data1=[[${diagnosisData}]]
    let data2=[[${repairData}]]
    /*]]>*/
</script>
<!-- 외부 JS 파일을 불러오는 부분 -->
<script src="js/process.js"></script>
</body>
</html>